@import "./variables.scss";

html, body, #sapper { height: 100%; }

// Styled elements
.theme-element
{
    border: 1px solid #fff9;
    border-radius: 5px;
    color: black;
    background-color: #fff7;
}

// Interactable elements
.control-element
{
    height: 35px;
    font-size: 12pt;

    &:disabled
    {
        cursor: not-allowed;
        pointer-events: none;
        
        filter: brightness(50%);
        background-color: inherit;
    }

    &:not(:disabled):hover,
    &:not(:disabled):active
    {
        cursor: pointer;
        background-color: #fff9;
    }
}