@import "./variables.scss";

html, body, #sapper { height: 100%; }

html
{
    // Mask the overflow areas on vertical elastic scrolling
    background: $deep-violet;
    background: linear-gradient(0deg, $deep-violet 0%, $seafoam 100%);
}

// Styled elements
code,
.theme-element
{
    border-radius: 5px;
    background-color: #fff7;
}

.gallery
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.theme-element
{
    border: 1px solid #fff9;
    color: black;
}

// Interactable elements
.control-element
{
    height: 35px;
    font-size: 12pt;

    &:disabled
    {
        cursor: not-allowed;
        pointer-events: none;
        
        filter: brightness(50%);
        background-color: inherit;
    }

    &:not(:disabled):hover,
    &:not(:disabled):active
    {
        cursor: pointer;
        background-color: #fff9;
    }
}

// MathJax hidden loading
.mathjax-content
{
    opacity: 0;

    &.mathjax-rendered { opacity: 1; }
}

// Remove the context menu for MathML elements
mjx-container
{
    pointer-events: none;
}